/* NAVBAR =============== */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: #7fffd4;

}

.nav-list {
    display: flex;
    justify-content: space-around;
    gap:2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    padding:1rem;
}
.nav-link.app-title {
    font-size: 1.5rem;
}

.nav-link-container {
    padding: 1rem;
    cursor: pointer;
}

.nav-link-container:hover {
    transition: 0.3s ease-in;
    background-color: #74e7c1;
}

/* .nav-item {
    padding: 1rem;
    cursor: pointer;
}

.nav-item:hover {
    transition: 0.3s ease-in;
    background-color: #6adbb5;
} */

ul {
    list-style-type: none;
}


.cart {
    position: absolute;
    background-color: rgb(144, 144, 144);
    height: 100%;
    width: 100px;
    z-index: 1;
}

.cart.hide {
    right: -100px;
    transition: 1s
}

.cart.active {
    right: 0;
    transition: 1s
}

.img-prod {
    height: 100px;
    width: auto;
}

/* HOME ============================== */
.home {
    background-image: url('./images/homepage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 5rem;
}

.main-line {
    font-size: 4rem;
    font-weight: 500;
}

.offer-line {
    font-size: 2rem;
}

.btn-group-home {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.btn-home {
    margin: 1rem 0;
    width: 8rem;
    padding: 1rem;
    background-color: #56ddf5;
    border: none;
    outline: none;
}