/* NAVBAR =============== */
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: #7fffd4;
    box-shadow: 0 1px 3px rgb(83, 83, 83);
}

.nav-list {
    display: flex;
    justify-content: space-around;
    gap:2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    padding:1rem;
}
.nav-link.app-title {
    font-size: 1.5rem;
}

.nav-link-container {
    padding: 1rem;
    cursor: pointer;
}

.nav-link-container:hover {
    transition: 0.3s ease-in;
    background-color: #74e7c1;
}

.cart-toggle {
    position: relative;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-num {
    position: absolute;
    transform: translate(100%, -70%);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #45b1c4;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;
}
.btn-cart-toggle {
    font-size: 2rem;
    cursor: pointer;}

.cart-toggle:hover > .cart-num {
    transform: scale(150%);
}

ul {
    list-style-type: none;
}


.cart {
    position: fixed;
    background-color: rgb(144, 144, 144);
    height: 100%;
    width: 100px;
    z-index: 2;
}

.cart.hide {
    right: -100px;
    transition: 1s;
}

.cart.active {
    right: 0;
    transition: 1s
}

.img-prod {
    height: 100px;
    width: auto;
}

/* HOME ============================== */
.home {
    background-image: url('./images/homepage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 5rem;
}

.main-line {
    font-size: 4rem;
    font-weight: 500;
}

.offer-line {
    font-size: 2rem;
}

.btn-group-home {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.btn-home {
    margin: 1rem 0;
    width: 8rem;
    padding: 1rem;
    background-color: #56ddf5;
    border: none;
    outline: none;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

/* CARD COMPONENT =============== */

.prod-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.prod-card > p {
    text-transform: uppercase;
    font-size: 1.25rem;
}


.prod-img {
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}

.prod-img:hover {
    transform: scale(1.1);
}

.btn-group-shop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-cart {
    width: 100%;
    background-color: #45b1c4;
    padding: 1rem;
    font-size: 1.10rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
}

.btn-add-cart:hover {
    background-color: #317f8d;
}


.prod-price {
    color: #727272;
}

.prod-sizes {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #45b1c4;
    right: 0;
    transition: 0.3s ease-in;
}

.prod-sizes.hide {
    right: -100%;
}

.size-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border: 1px solid #000;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    transition: 0.1s ease;
}

.size-option:hover {
    color: #7fffd4;
    border: 1px solid #7fffd4;
}